:root {
  --first-main-color: #6070ff;
  --second-main-color: #344563;
  --gray-background-color: #f4f5f7;
}

/* Start Style sitting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background-color: var(--gray-background-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.normal-button {
  margin: 12px 0;
  width: fit-content;
  background-color: white;
  border: 1px solid #6070ff;
  letter-spacing: 0.03em;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
}

.normal-button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.normal-button:hover:not(:disabled) {
  background: #2230d2;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.normal-button:active:not(:disabled) {
  background: #2230d2;
  color: #fff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 786px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 870px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Style sitting */
.background-design {
  position: fixed;
  width: 462px;
  height: 587.15px;
  left: -34px;
  top: 104px;
}

/* Start header */

header {
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
}

header a#logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--first-main-color);
}

header #burger-button {
  width: 18px;
  height: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  z-index: 2;
}

@media (min-width: 786px) {
  header #burger-button {
    display: none;
  }
}

.works-page .card-work .client {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.works-page .card-work .client span {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

header #burger-button span {
  background-color: black;
  width: 100%;
  height: 2px;
  transition: 0.2s;
}

header #burger-button:hover span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

header #burger-button:hover span:nth-child(2) {
  display: none;
}

header #burger-button:hover span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

header nav {
  display: none;
}

@media (min-width: 786px) {
  header nav {
    display: block;
  }
}

header #burger-button:hover + nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #6070ff;
  mix-blend-mode: multiply;
}

header:has(#burger-button:hover) #logo,
body:has(#burger-button:hover) section {
  filter: blur(8px);
  background-color: inherit;
}

body:has(#burger-button:hover) {
  background-color: inherit;
}

header nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

div.connect ul {
  display: flex;
  gap: 20px;
}

.works-page .card-work .client ul {
  list-style-type: revert;
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: fit-content;
  gap: 12px;
  list-style-position: inside;
}

header #burger-button:hover + nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  left: 12px;
  top: 90px;
}

header nav ul li a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  color: var(--second-main-color);
  transition: 0.3s;
}

header nav ul li a:hover {
  color: var(--first-main-color);
}

header #burger-button:hover + nav ul li a {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

/* End header */

/* Start landing */

#landing-page {
  height: calc(100vh - 70px);
  background-color: white;
  border-bottom-left-radius: 100px;
  background-image: url("../img/header-shapes\ mobile.jpg");
  background-size: cover;
}

@media (min-width: 786px) {
  #landing-page {
    background-image: url("../img/Header\ bg.svg");
  }
}

#landing-page .container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 14px;
}

hgroup.info {
  width: 100%;
}

@media (min-width: 786px) {
  hgroup.info {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  hgroup.info {
    width: 920px;
  }
}

hgroup.info h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  hgroup.info h1 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }
}

hgroup.info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

@media (min-width: 1200px) {
  hgroup.info p {
    font-size: 20px;
    line-height: 28px;
  }
}

div.connect p {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

div.connect img {
  width: 14.17px;
}

/* End landing */

/* Start works */
.works-page .card {
  display: grid;
  gap: 12px;
  margin: 88px 24px;
  border-radius: 15px;
}

.works-page .card-work {
  width: 100%;
  display: grid;
  gap: 12px;
  background-color: white;
  padding: 16px;
  border-radius: 15px;
  height: fit-content;
}

@media (min-width: 786px) {
  .works-page .card-work img.igm-right {
    order: 2;
  }

  .works-page .card-work img.igm-left {
    order: 0;
  }
}

@media (min-width: 786px) {
  .works-page .card-work {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }
}

.works-page .card-work img {
  height: 100%;
  width: 100%;
}

.works-page .card-work hgroup {
  display: grid;
  gap: 12px;
  height: fit-content;
  padding: 24px 24px 24px 0;
  order: 1;
}

.works-page .card-work .title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.works-page .card-work .client ul li {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.works-page .card-work .info {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.works-page .card-work .tages {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: fit-content;
  gap: 12px;
}

@media (min-width: 1200px) {
  .works-page .card-work .tages {
    grid-template-columns: repeat(4, auto);
  }
}

.works-page .card-work .tages .tage {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  letter-spacing: 0.03em;
  width: fit-content;
}

@media (max-width: 785px) {
  .only-desktop {
    display: none;
  }
}

/* End works */

/* Start about me */
#about {
  background-color: white;
  border-top-right-radius: 100px;
  padding-bottom: 100px;
}

#about .container {
  padding-top: 114px;
}

@media (min-width: 1200px) {
  div hgroup.info {
    width: auto;
  }

  #about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

#about .skills {
  margin-top: 60px;
}

@media (min-width: 1200px) {
  #about .skills {
    margin-top: 0;
  }
}

#about .skills .card-list .view {
  padding: 23px 10px;
  margin: 10px;
  border-bottom: 1px solid #dfe1e6;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1200px) {
  #about .skills .card-list .view {
    margin-top: 0;
    padding-top: 0;
  }
}

#about .skills .card-list ul {
  margin: 12px;
  display: grid;
  gap: 12px;
}

@media (min-width: 786px) {
  #about .skills .card-list ul {
    grid-auto-flow: column;
    grid-auto-columns: min-content;
  }
}

#about .skills .card-list ul li {
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 9px 9px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  gap: 16px;
}

@media (min-width: 786px) {
  #about .skills .card-list ul li {
    grid-auto-flow: row;
    width: 122px;
    height: 120px;
  }
}

/* End about me */

/* Start contact */
footer {
  background-color: white;
}

footer .contain {
  background: #6070ff;
  background-image: url(../img/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 55%;
  border-top-left-radius: 100px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 24px;
  color: white;
}

footer h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 100px;
  text-align: center;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media (min-width: 786px) {
  footer form {
    align-items: center;
  }
}

footer form input {
  background: #fff;
  border: 1px solid #cfd8dc;
  outline: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  width: 100%;
  padding: 15px;
}

footer form textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 15px;
  height: 170px;
  outline: none;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
}

/* End contact */
